# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# AWS credentials and configuration
.aws/

# Python-specific files
*.pyo
*.pyd
*.pdb

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Personal settings and credentials
secrets.json
credentials.json
config.yml

# Ignore macOS files
.DS_Store

# Ignore Linux files
*.swp

# Ignore Windows files
Thumbs.db
desktop.ini

# Ensure requirements.txt is not ignored
!requirements.txt
